<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LogSerialPort.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <applicationSettings>
    <LogSerialPort.My.MySettings>
      <setting name="constr" serializeAs="String">
        <value>Driver={MySQL ODBC 5.1 Driver};Server=localhost;charset=UTF8MB4;Database=balanca;User=root; Password=;Option=3;</value>
      </setting>
      <setting name="PortName" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Handshake" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>On</value>
      </setting>
      <setting name="Lista_Parity" serializeAs="String">
        <value>None, Odd, Even, Mark, Space</value>
      </setting>
      <setting name="Lista_StopBits" serializeAs="String">
        <value>None, One, Two, OnePointFive</value>
      </setting>
      <setting name="Lista_Handshake" serializeAs="String">
        <value>None, XOnXOff, RequestToSend, RequestToSendXOnXOff</value>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SQLCommandText" serializeAs="String">
        <value>UPDATE peso SET peso_atual = {0};</value>
      </setting>
    </LogSerialPort.My.MySettings>
  </applicationSettings>
</configuration>